.PlayQuiz-Box {
  background-color: blanchedalmond;
  height: 100%;
  width: 70vw;
  padding: 0px 20px;
  margin-top: 40px;
  box-shadow: 1px 1px 1px 1px grey;
}
.PlayQuiz-Title {
  border: none;
  padding: 10px 0px 0px 15px;
}
.PlayQuiz-Desc {
  border: none;
  padding: 0px 15px;
}
.GoodLuck {
  height: 250px;
  width: 250px;
  background-image: url("../../images/GoodLuck.png");
  background-size: cover;
  border-radius: 10px;
}
label {
  margin: 8px 0px;
}
.input-name-text {
  height: 25px;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid gray;
  padding-left: 10px;
  border-radius: 2px;
}
.created-quiz {
  width: 70vw;
  height: 100px;
  display: flex;
  align-items: center;
}
.created-quiz p {
  color: red;
}
.PlayQuiz-Option {
  width: 200px;
  height: 50px;
  background-color: NavajoWhite;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 1px gray;
}
.PlayQuiz-ViewOption {
  height: 100px;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 750px) {
  .PlayQuiz-ViewOption {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
  }
  .input-name-text {
    width: 50vw;
  }

  .PlayQuiz-Option {
    width: fit-content;
    padding: 5px;
  }
  .PlayQuiz-Box {
    height: 90vh;
    width: 80vw;
  }
}
